
@import url('https://fonts.googleapis.com/css?family=IBM Plex Sans');

.body {
    font-family: 'IBM Plex Sans Condensed';
}
.actions {
    color: var(--text-secondary-color);
  }
  
  .textPrimary {
    color: var(--text-primary-color);
  }
  
  .data-grid-container {
    height: 500px;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
  }
  @media (prefers-color-scheme: light) {
    :root {
        padding-left: 14%;
    }

  }
  
 
  .add-record-button{
    padding-left: 895px;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    margin-left: 50px;
}
.data-grid-container MuiBox-root css-0{
    color: antiquewhite;
}
/* Make the menu icon always visible */
.data-grid-container .MuiDataGrid-columnHeader .MuiDataGrid-menuIcon {
    visibility: visible !important;
    opacity: 1 !important;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 50px;
    /* z-index: 1000; */
  }
  
  
  #add-record-button{
    padding-left: 950px;
   
  }
  
.data-grid-container .MuiDataGrid-root {
  font-size: 13px; 
  font-family: 'Roboto', sans-serif; 
}

.data-grid-container .MuiDataGrid-cell {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.data-grid-container .MuiDataGrid-columnHeaderTitle {
  font-size: 13px;
  font-family: 'Roboto', sans-serif; 
}
